<!doctype html>
<html lang="en-gb" class="template-{{page.template.name}}">
<head>
	<meta name="robots" content="noindex, nofollow">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="format-detection" content="telephone=no">

	<title>{{page.meta_title}}</title>

	<meta name="description" content="This page is called {{page.title}}">

	<link rel="apple-touch-icon" sizes="152x152" href="./apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
	<link rel="manifest" href="./site.webmanifest">
	<link rel="mask-icon" href="./safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<link rel="stylesheet" href="./css/uikit-theme.min.css" />
	<link rel="stylesheet" href="./css/main.min.css" />
</head>
<body class="uk-position-relative">

	<main class="uk-margin-bottom uk-position-relative">
		<span class="blue-wave" role="presentation"></span>

		{{#if page.banner}}
			{{> banner}}
		{{else}}
			{{#> ukContainer size=(default page.ukContainer ukContainer) class="uk-margin-top"}}
				{{#*inline "out"}}
					<h1>{{page.h1}}</h1>
					{{> ukBreadcrumb}}
				{{/inline}}
			{{/ukContainer}}
		{{/if}}

		{{#> main}}{{/main}}

	</main>

	<footer class="footer">
		{{#> ukContainer class="uk-text-center"}}
			{{#*inline "out"}}

			<div class="copyright uk-margin-small-bottom">Copyright &copy; {{year}} {{nb.clientName}}. All rights reserved.</div>

			{{#if legal}}
			<div class="legal uk-margin-small-bottom">
				<ul>
				{{#each legal}}
					<li>
						<a href="#" class="uk-text-primary">{{this}}</a>
					</li>
				{{/each}}
				</ul>
			</div>
			{{/if}}

			<div class="watermark">
				Website by <a title="NB Communication - Digital Marketing Agency" target="_blank" rel="noopener" href="https://www.nbcommunication.com/">NB <img src="https://brand.nbcommunication.com/logo/web/nb.png" alt="NB Communication Ltd Logo" loading="lazy"></a>
			</div>
			{{/inline}}
		{{/ukContainer}}
	</footer>

	{{> renderIcon name="wave" class="uk-position-bottom uk-width-1-1" viewBox="1600 1847"}}

	{{!-- <svg width="1200" height="471" viewBox="0 0 1200 471" fill="none" id="" xmlns="http://www.w3.org/2000/svg">
		<path d="M316.29 19.0826C192.489 -11.8694 53.8462 1.67212 0 12.3119C57.0136 154.498 166 471 613.575 471C983 471 1150.23 226.074 1200 121.611C1178.73 134.83 1091.4 161.268 912.217 161.268C688.235 161.268 471.041 57.7726 316.29 19.0826Z" fill="#0759A2"/>
	</svg> --}}

	<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1200 471' style='position: absolute;' height='0' width='0'>
		<defs>
			<clipPath id='bannerText' clipPathUnits='objectBoundingBox'
				transform='scale(0.00083333333, 0.00212314225)'>
				<path d="M316.29 19.0826C192.489 -11.8694 53.8462 1.67212 0 12.3119C57.0136 154.498 166 471 613.575 471C983 471 1150.23 226.074 1200 121.611C1178.73 134.83 1091.4 161.268 912.217 161.268C688.235 161.268 471.041 57.7726 316.29 19.0826Z" fill="#0759A2"/>
			</clipPath>
		</defs>
	</svg>	

	<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 849' style='position: absolute;' height='0' width='0'>
		<defs>
			<clipPath id='blueWave' clipPathUnits='objectBoundingBox'
				transform='scale(0.000625, 0.0011778563)'>
				<path d="M181.298 0.371555C88.3609 -2.5619 21.7089 12.5943 1.33514e-05 20.539L0 612.172C0 612.172 370.417 622.798 745.187 769.107C1119.96 915.416 1600 816.016 1600 816.016V62.8989C1499.53 117.644 1402.27 144.81 1364.14 150.921C1256.18 170.478 1041.95 234.576 772.68 134.067C468.535 20.539 297.47 4.03837 181.298 0.371555Z" fill="#F0F5F9"/>
			</clipPath>
		</defs>
	</svg>	

	<script src="./js/uikit.min.js"></script>
	<script src="./js/image-map.min.js"></script>
	<script src="./js/main.js"></script>
</body>
</html>
